html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  min-width: 375px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
body .lds-ohmyfood {
  position: fixed;
  left: 46%;
  top: 0%;
  z-index: 1;
}
body .lds-ohmyfood div {
  position: absolute;
  width: 16px;
  -webkit-animation: lds-ohmyfood 1.2s cubic-bezier(0, 0.5, 0.5, 1) 3;
          animation: lds-ohmyfood 1.2s cubic-bezier(0, 0.5, 0.5, 1) 3;
}
body .lds-ohmyfood div:nth-child(1) {
  background-color: #99E2D0;
  left: 8px;
  -webkit-animation-delay: -0.24s;
          animation-delay: -0.24s;
}
body .lds-ohmyfood div:nth-child(2) {
  background-color: #FF79DA;
  left: 32px;
  -webkit-animation-delay: -0.12s;
          animation-delay: -0.12s;
}
body .lds-ohmyfood div:nth-child(3) {
  background-color: #9356DC;
  left: 56px;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
@-webkit-keyframes lds-ohmyfood {
  0% {
    top: 8px;
    height: 64px;
  }
  100% {
    top: 24px;
    height: 32px;
  }
}
@keyframes lds-ohmyfood {
  0% {
    top: 8px;
    height: 64px;
  }
  100% {
    top: 24px;
    height: 32px;
  }
}

h1,
h2,
h3,
p,
a,
ul {
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
}

.container {
  width: 100%;
  height: 100%;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.header__logo img {
  width: 200px;
}
.header__home {
  position: absolute;
  left: 20px;
  z-index: 1;
}
.header__home em {
  font-size: 20px;
  margin: 0;
}
.header__home .fa-arrow-left {
  display: initial;
}
.header__home .fa-home {
  display: none;
}

.card {
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
}
.card img {
  position: relative;
  width: 100%;
}
.card .container {
  position: absolute;
  top: 280px;
  height: 100px;
  background-color: #f1f1f1;
  border-radius: 25px 25px 0 0;
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .container h1 {
  font-family: "Shrikhand", cursive;
}
.card .container .heart {
  font-size: 28px;
  color: #999;
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.card .container .heart .fa-solid {
  color: #FF79DA;
  display: none;
}
.card .container .heart .fa-regular {
  display: block;
}
.card .container .heart:hover .fa-solid {
  display: block;
  -webkit-animation: fade-in 3s ease-out;
          animation: fade-in 3s ease-out;
}
.card .container .heart:hover .fa-regular {
  -webkit-animation: fade-out 3s ease-in;
          animation: fade-out 3s ease-in;
  display: none;
}

.menu {
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: #f1f1f1;
  padding: 0 0 100px 0;
}
@-webkit-keyframes slide-bottom-top {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes slide-bottom-top {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes rotate-360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes slide-in {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}
@keyframes slide-in {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}
@-webkit-keyframes slide-out {
  0% {
    width: 80px;
    height: 100%;
  }
  100% {
    width: 0;
    height: 100%;
  }
}
@keyframes slide-out {
  0% {
    width: 80px;
    height: 100%;
  }
  100% {
    width: 0;
    height: 100%;
  }
}
.menu__title {
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 30px;
  line-height: 2;
}
.menu__title hr {
  color: transparent;
  background-color: #99E2D0;
  width: 30px;
  height: 2px;
  margin: 0;
}
.menu__btn {
  -webkit-animation: slide-bottom-top 3s ease-in-out;
          animation: slide-bottom-top 3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 10px;
  margin-bottom: 50px;
}
.menu__btn a {
  width: 350px;
  height: 80px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.menu__btn a .text {
  font-size: 12px;
  line-height: 1.5;
}
.menu__btn a .weight {
  font-size: 14px;
  font-weight: 700;
}
.menu__btn a:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.menu__btn a:hover .menu__green-btn {
  height: 100%;
  width: 80px;
  right: 0;
  left: 100%;
  -webkit-animation: slide-in 0.3s;
          animation: slide-in 0.3s;
}
.menu__btn a:hover .menu__green-btn em {
  -webkit-animation: rotate-360 1s;
          animation: rotate-360 1s;
}
.menu .wrapper-text {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .price {
  margin-right: 20px;
  margin-bottom: 21px;
}
.menu .text {
  margin-left: 20px;
  margin-bottom: 21px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__green-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 0;
  font-size: 30px;
  color: #fff;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  -webkit-animation: slide-out 0.5s;
          animation: slide-out 0.5s;
}

.footer {
  background-color: #333;
  padding: 30px;
  color: #fff;
}
.footer__logo {
  margin-bottom: 10px;
}
.footer__logo img {
  width: 150px;
}
.footer__navigation a {
  color: #fff;
  line-height: 1.5;
}
.footer__navigation a .fa-solid {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .footer__logo {
    width: 600px;
  }
  .footer__navigation ul {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 992px) {
  .footer__wrapper {
    max-width: 1420px;
    margin: 0 auto;
  }
  .footer__logo {
    width: 800px;
  }
  .footer__navigation ul {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
  }
  .header__logo img {
    width: 300px;
    margin-left: 20px;
  }
  .main__form {
    display: flex;
    justify-content: flex-start;
  }
  .main__form em {
    padding: 15px 0;
    margin-left: 20px;
  }
  .main__title {
    text-align: left;
  }
  .main .fonctionnement__title {
    margin-right: 1200px;
    margin-left: 0px;
  }
  .main .fonctionnement__btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main .fonctionnement__btn a {
    width: 100%;
    height: 60px;
    border-radius: 12px;
  }
  .main .fonctionnement__btn a .fa {
    font-size: 20px;
    padding-right: 25px;
  }
  .main .fonctionnement__btn a span {
    margin-right: 0px;
    font-weight: 700;
    font-size: 14px;
  }
  .main .fonctionnement__btn a .number {
    width: 25px;
    height: 25px;
    font-size: 16px;
    top: 17px;
    left: -12px;
    padding-top: 3px;
    padding-right: 0px;
  }
  .main .restaurants__column {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 992px) {
  .header {
    max-width: 1440px;
    margin: 20px auto;
  }
  .header__logo {
    height: 80px;
  }
  .header__logo img {
    width: 400px;
  }
  .main {
    margin-bottom: 50px;
  }
  .main__title {
    padding: 50px 20px;
  }
  .main__title h1 {
    max-width: 1400px;
    margin: 0 auto;
  }
  .main__title p {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .main__btnform {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .main #form-search {
    width: 1440px;
    margin: 0 auto;
  }
  .main .fonctionnement {
    max-width: 1440px;
    margin: 0 auto;
  }
  .main .fonctionnement__title {
    margin-left: 20px;
    margin-right: 1260px;
  }
  .main .fonctionnement__btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
  }
  .main .fonctionnement__btn a {
    width: 300px;
    height: 80px;
    padding: 20px;
    border-radius: 20px;
  }
  .main .fonctionnement__btn a .fa {
    font-size: 30px;
    padding-right: 25px;
  }
  .main .fonctionnement__btn a span {
    margin-right: 0px;
    font-weight: 700;
    font-size: 18px;
  }
  .main .fonctionnement__btn a .number {
    width: 30px;
    height: 30px;
    font-size: 20px;
    top: 26px;
    left: -15px;
    padding-top: 4px;
  }
  .main .restaurants {
    border-radius: 20px;
  }
  .main .restaurants__column {
    flex: 25%;
    max-width: 25%;
  }
}/*# sourceMappingURL=pages.css.map */